* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgba(210,219,219,1);
    position: relative;
}

.fascia_verde{
    background-color: #009688;;
    height: 100px;
}

.container{
    height: 660px;
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

aside{
    width: 30%;
    background-color: white;
}

.top_asaide{
    height: 18%;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    height: 46px;
}

.menu ul,
.menu li{
    display: inline-block;
    padding: 6px 11px;
    font-size: 21px;

}

.dimensione{
    width: 400px;
}

.utente1,
.utente{
    display: flex;
    padding: 5px;
}

.img_utente{
    background-color: lightgreen;
    width: 33px;
    height: 33px;
    object-fit: contain;
    border-radius: 50%;
}

.menu .img_utente{
    margin: 0 20px 0 5px;
}

i{
    color: #919191;
    font-size: 15px;
}

.notifiche{
    height: 73px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.icona{
    color: #9de1fe;
    background-color: #f5fcff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #9de1fe;
    border-radius: 50%;
    margin: 0 10px 0 15px;
}

.notifiche h3,
.notifiche p,
.notifiche a{
    font-size: 13px;
}

.bot_asaide{
    height: 82%;
}

.bt_as_top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-color: #ededed;
}

.input{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.input i{
    padding: 0 10px 0 5px;
}

.input input{
    width: 80%;
    height: 75%;
    font-size: 18px;
    border: 0;
    outline: none;
}

.contatti{
    height: calc(100% - 46px);
    overflow: scroll;
}

.contatti .utente{
    padding: 11px;
}

.contatti .img_utente{
    margin-right: 15px;
}
/*fine aside*/

main{
    width: 70%;
}

.messaggi{
    height: calc(100% - 92px);
    overflow-y: scroll;
    background: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    padding: 20px;
    display: none;
}

.active{
    display: block;
}

.container_messaggi {
    margin-top: 15px;
    position: relative;

}

.container_messaggi::after{
    content:'';
    clear: both;
    display: table;
}

.container_messaggi:hover .fa-angle-down{
    display: inline-block;
}

.inviato,
.ricevuto{
    clear: both;
    background-color: white;
    padding: 10px;
    border-radius: 7.5px;
    display: flex;
    justify-content: space-between;
}

.ricevuto{
    float: left;
}

.inviato{
    float: right;
}

.span{
    position: absolute;
    top: 0px;
}

.fa-angle-down{
    display: none;
    padding-left: 3px;
    opacity: 0.4;
    float: right;
}

.dropdown{
    font-size: 14px;
    bottom: -24px;
    padding: 10px;
    background-color: white;
    list-style-type: none;
    height: 50px;
    display: none;
}

.sinistra{
    left: -10px;
    border-top: 15px solid white;
    border-left: 15px solid rgba(0,0,0,0);
}

.destra{
    right: -10px;
    border-top: 15px solid white;
    border-right: 15px solid rgba(0,0,0,0);
}


.bt_as_top > i{
    font-size: 20px;
    padding: 12px;
}

#larghezza{
    width: 95%;
}

.fa-paper-plane,
.tamplate2,
.tamplate{
    display: none;
}
